textarea {
    border-radius: 10px;
    font-size: 20px; /* increase font size to 20px */
    padding: 10px;
    margin-top: 5%;
    resize: none;
  }

.col-md-3 {
  margin-top: 4.5%;
}

#prompt-form {
  margin-left: 8%;
}

.btn-arrow {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
